<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPostAddressLabel" jhiTranslate="nearepApp.postAddress.home.createOrEditLabel">Create or edit a Post Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!postAddress.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="postAddress.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nearepApp.postAddress.streetAddress" for="field_streetAddress">Street Address</label>
            <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                [(ngModel)]="postAddress.streetAddress" required maxlength="200" />
            <div [hidden]="!(editForm.controls.streetAddress?.dirty && editForm.controls.streetAddress?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.streetAddress?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.streetAddress?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nearepApp.postAddress.officeTel" for="field_officeTel">Office Tel</label>
            <input type="text" class="form-control" name="officeTel" id="field_officeTel"
                [(ngModel)]="postAddress.officeTel" maxlength="20" />
            <div [hidden]="!(editForm.controls.officeTel?.dirty && editForm.controls.officeTel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.officeTel?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nearepApp.postAddress.officeFax" for="field_officeFax">Office Fax</label>
            <input type="text" class="form-control" name="officeFax" id="field_officeFax"
                [(ngModel)]="postAddress.officeFax" maxlength="20" />
            <div [hidden]="!(editForm.controls.officeFax?.dirty && editForm.controls.officeFax?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.officeFax?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nearepApp.postAddress.officeEmail" for="field_officeEmail">Office Email</label>
            <input type="text" class="form-control" name="officeEmail" id="field_officeEmail"
                [(ngModel)]="postAddress.officeEmail" maxlength="100" />
            <div [hidden]="!(editForm.controls.officeEmail?.dirty && editForm.controls.officeEmail?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.officeEmail?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="nearepApp.postAddress.districtName" for="field_districtName">District Name</label>
            <select class="form-control" id="field_districtName" name="districtName" [(ngModel)]="postAddress.districtName"  required>
                <option [ngValue]="districtsOption.id === postAddress.districtName?.id ? postAddress.districtName : districtsOption" *ngFor="let districtsOption of districts; trackBy: trackDistrictsById">{{districtsOption.districtName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.districtName?.dirty && editForm.controls.districtName?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.districtName?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
